{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block content %}
<table>
    {% for post in posts_in_category %}
    <tr>
        <td>{{ post.title|censor }}</td>
        <td>{{ post.created_on|date:'d.m.y' }}</td>
        <td>{{ post.text|censor|truncatewords:20 }}</td>
    </tr>
    {% endfor %}
</table>
{% if user not in subscribers %}
    <form action="{% url 'subscribe' cat.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Подписаться"/>
    </form>
{% else %}
    <form action="{% url 'unsubscribe' cat.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Отписаться"/>
    </form>
{% endif %}
{% endblock content %}